{
  "log": {
    "_recordingName": "/api/webhooks/mollie/handles request with completed payment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e6fe3879be6f1715e3a6829a54ec3014",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query OrderTransactions($id: ID!) {\\n  order(id: $id) {\\n    transactions {\\n      ...Transaction\\n      __typename\\n    }\\n    errors {\\n      code\\n      message\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\\nfragment Transaction on TransactionItem {\\n  id\\n  reference\\n  voidedAmount {\\n    ...Money\\n    __typename\\n  }\\n  refundedAmount {\\n    ...Money\\n    __typename\\n  }\\n  chargedAmount {\\n    ...Money\\n    __typename\\n  }\\n  authorizedAmount {\\n    ...Money\\n    __typename\\n  }\\n  events {\\n    ...TransactionEvent\\n    __typename\\n  }\\n}\\n\\nfragment Money on Money {\\n  currency\\n  amount\\n}\\n\\nfragment TransactionEvent on TransactionEvent {\\n  name\\n  reference\\n}\",\"operationName\":\"OrderTransactions\",\"variables\":{\"id\":\"T3JkZXI6MTBmYjk0NDktMTlhNS00MjNlLTkwMDMtZmRlYzQ2ZjAxZTU4\"}}"
          },
          "queryString": [],
          "url": "https://witoszek-dev.eu.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 662,
            "text": "{\"data\":{\"order\":{\"transactions\":[{\"id\":\"VHJhbnNhY3Rpb25JdGVtOjMx\",\"reference\":\"ord_b6a87s\",\"voidedAmount\":{\"currency\":\"USD\",\"amount\":0,\"__typename\":\"Money\"},\"refundedAmount\":{\"currency\":\"USD\",\"amount\":0,\"__typename\":\"Money\"},\"chargedAmount\":{\"currency\":\"USD\",\"amount\":10.34,\"__typename\":\"Money\"},\"authorizedAmount\":{\"currency\":\"USD\",\"amount\":0,\"__typename\":\"Money\"},\"events\":[{\"name\":\"Mollie status update: paid\",\"reference\":\"\",\"__typename\":\"TransactionEvent\"}],\"__typename\":\"TransactionItem\"}],\"errors\":[],\"__typename\":\"Order\"}},\"extensions\":{\"cost\":{\"requestedQueryCost\":2,\"maximumAvailable\":50000}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 505,
      },
      {
        "_id": "c8a146227e0f2fad71569322bc2715c0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"mutation TransactionUpdate($id: ID!, $transaction: TransactionUpdateInput!, $transactionEvent: TransactionEventInput) {\\n  transactionUpdate(\\n    id: $id\\n    transaction: $transaction\\n    transactionEvent: $transactionEvent\\n  ) {\\n    transaction {\\n      id\\n      __typename\\n    }\\n    errors {\\n      code\\n      message\\n      __typename\\n    }\\n    __typename\\n  }\\n}\",\"operationName\":\"TransactionUpdate\",\"variables\":{\"id\":\"VHJhbnNhY3Rpb25JdGVtOjMx\",\"transaction\":{\"status\":\"paid\",\"reference\":\"ord_b6a87s\",\"type\":\"mollie-creditcard\",\"amountAuthorized\":{\"amount\":0,\"currency\":\"USD\"},\"amountCharged\":{\"amount\":10.34,\"currency\":\"USD\"},\"availableActions\":[\"REFUND\"]},\"transactionEvent\":{\"status\":\"SUCCESS\",\"name\":\"Mollie status update: paid\"}}}"
          },
          "queryString": [],
          "url": "https://witoszek-dev.eu.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 244,
            "text": "{\"data\":{\"transactionUpdate\":{\"transaction\":{\"id\":\"VHJhbnNhY3Rpb25JdGVtOjMx\",\"__typename\":\"TransactionItem\"},\"errors\":[],\"__typename\":\"TransactionUpdate\"}},\"extensions\":{\"cost\":{\"requestedQueryCost\":0,\"maximumAvailable\":50000}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 501,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
